In [1]:
from skpsl import ProbabilisticScoringList
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score, ShuffleSplit
from functools import reduce
from operator import or_
import numpy as np
import pandas as pd

In [6]:
# Generating synthetic data with continuous features and a binary target variable
X, y = make_classification(random_state=42)
#X = (X*10).round().astype(int)
X = (X > .5).astype(int)

for train, test in ShuffleSplit(1, test_size=.2, random_state=42).split(X):
    psl = ProbabilisticScoringList([-1, 1, 2])
    psl.fit(X[train], y[train])
    print(f"Brier score: {psl.score(X[test], y[test]):.4f}")

Brier score: 0.6500

In [7]:
df = psl.inspect(5)

pd.set_option("display.precision", 4)
df.fillna("-")

,Stage,Score,T = -4.0,T = -3.1666666666666665,T = -2.333333333333333,T = -1.5,T = -0.6666666666666665,T = 0.16666666666666696,T = 1.0
0,0,-,0.5375,0.5375,0.5375,0.5375,0.5375,0.5375,0.5375
1,1,1.0,0.1818,0.1818,0.1818,0.1818,0.1818,0.3136,0.9722
2,2,-1.0,0.0000,0.0000,0.0000,0.0000,0.1293,0.4898,1.0000
3,3,-1.0,0.2692,0.2692,0.2692,0.2692,0.3590,0.6154,1.0000
4,4,-1.0,0.3333,0.3333,0.3333,0.3333,0.4373,0.7043,1.0000
5,5,-1.0,0.0000,0.0000,0.1667,0.3173,0.5722,0.9561,1.0000

In [3]:
df = psl.inspect(5)

pd.set_option("display.precision", 4)
df.fillna("-")

,Stage,Score,T = -4.0,T = -3.0,T = -2.0,T = -1.0,T = 0.0,T = 1.0,T = 2.0
0,0,-,0.5375,0.5375,0.5375,0.5375,0.5375,0.5375,0.5375
1,1,-1.0,0.3667,0.3667,0.3667,0.3667,0.4783,1.0000,1.0000
2,2,-1.0,0.0000,0.0000,0.0000,0.3065,0.7143,1.0000,1.0000
3,3,-1.0,0.0000,0.0000,0.0000,0.1364,0.6111,1.0000,1.0000
4,4,2.0,0.0000,0.0000,0.0000,0.0400,1.0000,1.0000,1.0000
5,5,-1.0,0.0000,0.0000,0.0000,0.0000,1.0000,1.0000,1.0000